.login-page {
  width: 100%;
  height: 100vh;
  background-color: #eee;
}

.login-page > .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.form-login {
  flex: 1;
  max-width: 700px;
  margin: auto;
  background-color: #fff;
  padding: 60px 46px;
  color: #0f0f0f;
  border-radius: 8px;
}

.form-login .title-login {
  font-size: 34px;
  font-weight: 500;
  display: block;
  text-align: center;
  color: #32cffa;
}

/* Thêm CSS cho dòng chữ "Login as Administrator" */
.form-login .admin-login-text {
  text-align: center; /* Căn giữa dòng chữ */
  display: block;
  margin-top: 10px; /* Khoảng cách phía trên nếu cần */
}

.form-login button {
  width: 100%;
  background-color: #2fa3eb;
  color: white;
  border: none;
}

.form-login button:hover,
.form-login button:active {
  background-color: #2fa3eb !important;
  color: #fff !important;
  border: none !important;
}
