.home {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.post-item {
  flex: 1 1 300px;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 8px;
  text-align: left;
}

.home img {
  width: 100%;
}

.content {
  max-width: 100%;
  display: flex;
}

.intro {
  padding: 16px;
  max-width: 100vh;
  text-align: justify;
  margin: 0 auto;
}
