/* Trong file style.css */
.link-style {
  color: #007bff; /* Màu chữ */
  text-decoration: none; /* Loại bỏ gạch chân */
  transition: color 0.3s ease; /* Hiệu ứng chuyển đổi màu khi hover */
}

.link-style:hover {
  color: #231b96; /* Màu chữ khi hover */
}

.personal-info {
  gap: 10px;
}

.personal-info .img-fluid {
  border-radius: 50%;
  width: 320px;
  height: 320px;
  object-fit: cover;
}

.personal-info > * {
  padding: 0;
}
