.post-latest-item {
  padding: 18px 0;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.post-latest-item img {
  width: 110px;
  height: 80px;
}

.post-latest-item:hover h4 {
  opacity: 0.7;
}

.post-latest-item .post-title {
  max-width: 200px; /* Sửa lại từ "20ppx" */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sticky-container {
  position: sticky;
  top: 100px; /* Khoảng cách từ đỉnh trang khi sticky */
}

.list-post-latest {
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 80vh; /* Giới hạn chiều cao để tránh quá dài */
  overflow-y: auto; /* Để thêm thanh cuộn nếu cần */
  padding: 15px; /* Thêm khoảng cách bên trong */
}

@media (max-width: 992px) {
  .sticky-container {
    position: static;
  }

  .list-post-latest {
    max-height: none; /* Loại bỏ giới hạn chiều cao trên các thiết bị nhỏ */
    overflow-y: visible; /* Loại bỏ thanh cuộn trên các thiết bị nhỏ */
  }
}

.post-title-time {
  border-bottom: 1px solid #333;
}